<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.AdminDao">
    <!--通过用户名查询管理员信息-->
    <select id="selectName" resultType="admin">
        select id,username,password,other from admin where username = #{username}
    </select>
    <select id="queryAll" resultType="admin">
        select id,username,password from admin
    </select>
</mapper>
